# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.metadata

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
.firebase/
*.dart.js

# OS
.DS_Store
Thumbs.db

# Secrets
**/google-services.json
